<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.doc_reader">

    <!-- Permissions for reading local files on older Android versions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />

    <!-- Queries declared for Android 11+ (API 30+) package visibility -->
    <queries>
        <!-- PDF Viewer Intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/pdf" />
        </intent>
        <!-- Word (.doc, .docx) Viewer Intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/msword" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
        </intent>
        <!-- Excel (.xls, .xlsx) Viewer Intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.ms-excel" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        </intent>
        <!-- PowerPoint (.ppt, .pptx) Viewer Intent -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.ms-powerpoint" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
        </intent>
    </queries>

    <application
        android:label="DocReader"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Meta-data for Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
